<div id="footer" layout="rows center-left">
    <div id="end-mark">
        <p class="copyright">2018 © {{ site.author }}</p>
    </div>
    <div id="footer-links" self="right">
        <ul>
            <!-- <a href="#"><li class="wechat" target="_blank"></li></a> -->
            <a href="mailto:{{site.social.mail}}" target="_blank"><li class="mail"></li></a>
            <a href="https://github.com/{{site.social.github}}" target="_blank"><li class="github"></li></a>
        </ul>
    </div>
</div>
